# Node.js dependencies
node_modules/
backend/node_modules/

# Local environment configurations
.env
backend/.env

# Local SQLite Database
*.sqlite
backend/*.sqlite
backend/database.sqlite

# Multer image uploads
backend/uploads/*
!backend/uploads/.gitkeep

# IDE and Editor folders
.vscode/
.idea/
.gemini/
.antigravity/
Thumbs.db
DS_Store
